<ngb-alert class="cuteAlert center" *ngIf="cuteAlert" >❤️ Thank you very much for your feedback! ❤️</ngb-alert>

<div class="content">
  <div class="container">
    <div class="container text center">
      <h3 class="title">Write your own Review!</h3>
    </div>
    <div class="center" id="smolBtn">
      <button type="button"  class=" btn btn-primary specialbtn" data-toggle="modal" data-target="#addReviewModal">Add Review</button>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addReviewModalTitle">Add a review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="reviewTitle">Review title</label>
              <!-- ToDo: change maxlength to correct amount -->
              <input type="text" class="form-control" id="reviewTitle" name= "reviewTitle" placeholder="A title for your review"
              required maxlength="20" #reviewTitle="ngModel"
              [(ngModel)]="reviewTitleValue" >
              <div *ngIf="reviewTitle.invalid && (reviewTitle.dirty || reviewTitle.touched || !validT)" class="alert alert-danger">
                <div *ngIf="reviewTitle.errors.required">
                  You must input a title for your review.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="reviewDescription">Your review: </label>
              <textarea class="form-control" id="reviewDescription" name="reviewDescription" rows="4"
                        required #rD="ngModel" [(ngModel)]="reviewDescriptionValue"></textarea>
              <div *ngIf="rD.invalid && (rD.dirty || rD.touched || !validD)" class="alert alert-danger">
                <div *ngIf="rD.errors.required">
                  Please leave a review. It doesn't have to be long :)
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="reviewStars">How many stars would you rate the server?</label>
              <select class="form-control" id="reviewStars" name="stars" [(ngModel)]="stars">
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
              </select>
              <div *ngIf=(!validS) class="alert alert-danger">
                <div>
                  Please rate the server from 1-5.
                </div>
              </div>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkPublish" name="isChecked" required [(ngModel)]="isChecked" >
              <label class="form-check-label" for="checkPublish">I agree to have my discordtag and review displayed on this website.</label>
              <div *ngIf="!validCB" class="alert alert-danger">
                <div>
                  Please agree to this. uwu
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #closeModal data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveReview()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container card-group">
    <div class="card" *ngFor="let review of reviews">
      <div class="card-header">
        <img
          [src]="review.picture"
          alt="Useravatar"
        />
        <h5 class="card-title d-inline">{{review.title}}</h5>
      </div>
      <div class="card-body">
        <div class="star-container" *ngIf="review.stars==1">⭐☆☆☆☆</div>
        <div class="star-container" *ngIf="review.stars==2">⭐⭐☆☆☆</div>
        <div class="star-container" *ngIf="review.stars==3">⭐⭐⭐☆☆</div>
        <div class="star-container" *ngIf="review.stars==4">⭐⭐⭐⭐☆</div>
        <div class="star-container" *ngIf="review.stars==5">⭐⭐⭐⭐⭐</div>

        <p class="card-text">{{review.description}}</p>

      </div>
      <div class="card-footer">
        <p class="card-text"><small class="text-muted">{{review.created_at_display}} by {{review.tag}}</small></p>
      </div>
    </div>
  </div>
</div>
