<div class="container card-group">
  <div class="card">
    <div class="card-header">
      <img
        src="../../assets/gifs/LizAvatar.gif"
      />
      <h5 class="card-title d-inline">Awesome Server!</h5>
    </div>
    <div class="card-body">

      <p class="card-text">This is honestly one of the best servers I have joined, I've made a lot of friends and the people are really nice, the mods and admins are great and active. I can't say anything bad about it, it's just a very great server</p>

    </div>
    <div class="card-footer">
      <p class="card-text"><small class="text-muted">1 month ago by Liz#1313</small> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img
        src="../../assets/gifs/LizAvatar.gif"
      />
      <h5 class="card-title d-inline">Awesome Server!</h5>
    </div>
    <div class="card-body">

      <p class="card-text">This is honestly one of the best servers I have joined, I've made a lot of friends and the people are really nice, the mods and admins are great and active. I can't say anything bad about it, it's just a very great server</p>

    </div>
    <div class="card-footer">
      <p class="card-text"><small class="text-muted">1 month ago by Liz#1313</small> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img
        src="../../assets/gifs/LizAvatar.gif"
      />
      <h5 class="card-title d-inline">Awesome Server!</h5>
    </div>
    <div class="card-body">

      <p class="card-text">This is honestly one of the best servers I have joined, I've made a lot of friends and the people are really nice, the mods and admins are great and active. I can't say anything bad about it, it's just a very great server</p>

    </div>
    <div class="card-footer">
      <p class="card-text"><small class="text-muted">1 month ago by Liz#1313</small> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img
        src="../../assets/gifs/LizAvatar.gif"
      />
      <h5 class="card-title d-inline">Awesome Server!</h5>
    </div>
    <div class="card-body">

      <p class="card-text">This is honestly one of the best servers I have joined, I've made a lot of friends and the people are really nice, the mods and admins are great and active. I can't say anything bad about it, it's just a very great server</p>

    </div>
    <div class="card-footer">
      <p class="card-text"><small class="text-muted">1 month ago by Liz#1313</small> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img
        src="../../assets/gifs/LizAvatar.gif"
      />
      <h5 class="card-title d-inline">Awesome Server!</h5>
    </div>
    <div class="card-body">

      <p class="card-text">This is honestly one of the best servers I have joined, I've made a lot of friends and the people are really nice, the mods and admins are great and active. I can't say anything bad about it, it's just a very great server</p>

    </div>
    <div class="card-footer">
      <p class="card-text"><small class="text-muted">1 month ago by Liz#1313</small> </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img
        src="../../assets/gifs/LizAvatar.gif"
      />
      <h5 class="card-title d-inline">Awesome Server!</h5>
    </div>
    <div class="card-body">
      <div class="star-container">⭐⭐⭐⭐⭐</div>
      <p class="card-text">This is honestly one of the best servers I have joined, I've made a lot of friends and the people are really nice, the mods and admins are great and active. I can't say anything bad about it, it's just a very great server</p>

    </div>
    <div class="card-footer">
      <p class="card-text"><small class="text-muted">1 month ago by Liz#1313</small> </p>
    </div>
  </div>
</div>
<!--
<div class="container card-group">
  <div class="card" *ngFor="let review of reviews">
    <div class="card-header">
      <img
        [src]="Routin"]
      />
      <h5 class="card-title d-inline">{{review.title}}</h5>
    </div>
    <div class="card-body">
      <div class="star-container">⭐⭐⭐⭐⭐</div>
      <p class="card-text">This is honestly one of the best servers I have joined, I've made a lot of friends and the people are really nice, the mods and admins are great and active. I can't say anything bad about it, it's just a very great server</p>

    </div>
    <div class="card-footer">
      <p class="card-text"><small class="text-muted">1 month ago by Liz#1313</small> </p>
    </div>
  </div>
</div> -->
