.card {
  margin: 40px 20px  !important;
  width: 400px;
  flex: 1 0 calc(33% - 40px);
  border-radius: 2% !important;
  border-left: 1px solid rgba(0,0,0,.125) !important;
}

.card-header img {
  border-radius: 50%;
  height: 80px;
  margin-top: -55px;
  margin-left: -10px;
  border: 2px solid rgba(0,0,0, 0.2);
}

.card-header h5 {
  text-align: right;
  float: right;
}

.card-group {
  margin-top: 50px;
}
