<div class="container card-group">
  <div class="card" *ngFor="let review of reviews | slice:0:6;">
    <div class="card-header">
      <img
        [src]="review.picture"
        alt="Useravatar"
      />
      <h5 class="card-title d-inline">{{review.title}}</h5>
    </div>
    <div class="card-body">
      <div class="star-container" *ngIf="review.stars==1">⭐☆☆☆☆</div>
      <div class="star-container" *ngIf="review.stars==2">⭐⭐☆☆☆</div>
      <div class="star-container" *ngIf="review.stars==3">⭐⭐⭐☆☆</div>
      <div class="star-container" *ngIf="review.stars==4">⭐⭐⭐⭐☆</div>
      <div class="star-container" *ngIf="review.stars==5">⭐⭐⭐⭐⭐</div>

      <p class="card-text">{{review.description}}</p>

    </div>
    <div class="card-footer">
      <p class="card-text"><small class="text-muted">{{review.created_at_display}} by {{review.tag}}</small> </p>
    </div>
  </div>
</div>
