<div class="content">
  <div class="container">
    <h5 class="fancy">What can I expect from this server?</h5>
    This server is a very casual and relaxed place, so please don't feel afraid or anxious to participate! We love meeting new people and having new members to share our love for RWBY with. We try not to be too strict in any circumstances, and we are doing our best to create a welcoming community where everyone can feel comfortable to share their thoughts.<br>
    <br>
    We hope you enjoy your time in this server!<br>
  </div>
  <div class="container">
    <h5 class="fancy">Where can I find what?</h5>
    ‣ Looking for chat access? Read through this page to gain access, or wait 3 minutes to get it automatically.<br>
    ‣ Please read the #📋rules. Mostly just look at the things in bold and underlined -- the rest is for clarification if you are unsure of something.<br>
    ‣ Want to introduce yourself and join a team? Head over to #🤝🏻introductions to tell us more about yourself, and visit #team_select to join your favorite characters' teams!<br>
    ‣ Looking to talk about RWBY? #💬rwby_chat is a great place to start!<br>
    ‣ Want to hop right into the action? Head right on into #💬casual and start making some friends!<br>
    ‣ Need the latest news for the show? Check out #🐔rwby_news! We try to keep it up to date with the most relevant news on the show!<br>
    ‣ Feeling overwhelmed? Check <a href="https://i.imgur.com/sk4mnA6.png" target="_blank">this</a> guide to setting up this server to minimize clutter! <br>
  </div>
  <div class="container">
    <h5 class="fancy">What are the server benefits?</h5>
    ★ Check #🔔announcements to see if there are any giveaways currently happening. Events usually have additional channels for them, and our Server Banner will show you where to go!<br>
    <br>
    ★ @⚡️ Nitro Booster ⚡️s who boost the server are honored with a special role and hoisted high on the member list as a thank you. Additionally, you get instant access to behind-the-scenes info on future updates to the server and ideas from management. You will also unlock a 1.5x XP boost for all members in the server for 3 hours!<br>
    <br>
    ★ @⭐️Patron ⭐️s and @💎 VIP Patron 💎s from Patreon get exclusive benefits and help us give our server a Premium feel! Check #💎patreon for more info!<br>
    <br>
    ★ Active members will receive special roles! Once you hit certain level thresholds, you will receive special access to exclusive channels from people of the same rank! Additionally, the higher the tier you reach, the more benefits you'll receive.<br>
    Level 10: @Students get to use external emojis from other servers and may use Voice Activity mode in voice chat!<br>
    Level 25: @Huntsman get their own special channel and access to a casual voice chat channel!<br>
    Level 50: @Veterans get behind-the-scenes access, and get their own chat channel!<br>
    Level 75: @Heroes unlock the ability to use Discord's Go Live feature, an even more exclusive chat channel, their choice of 2 emojis to add to the server, and get access to #📝server_suggestions!<br>
    Level 100: @Legends are the highest and most esteemed rank of them all, and get everything they have earned so far, another special chat room, Priority Speaker in voice channels, their own special LEGEND plaque, AND they will win a special RWBY item for free!<br>
    <br>
    ★ Server-exclusive, custom Bot, @LizBot! Hand-programmed by our own @Zuïa!<br>
  </div>
</div>
