


<div class="content" role="main">
  <div id="intro" class="bg">
    <!-- Resources -->
    <img
      id="logo"
      width="70"
      alt="Angular Logo"
      src="../assets/gifs/RwbyGifIcon.gif"
    />
    <!--
    <div class="bg">
      <img
        id="cutouts"
        width="100%"
        alt="Cutouts"
        src="../assets/pictures/RWBYatAtlasCutout.png"
      />
    </div>
    -->

  </div>
  <app-testimonials></app-testimonials>
  <div class="container">
    <div class="container text">
      <h5>One of the fastest growing RWBY discord servers out there!</h5>
      <p>Very active so you always have someone to talk to, as well as the people being very nice. I've already made several friends in this server</p>
    </div>
    <div class="container img"></div>
  </div>

  <a class="e-widget no-button" href="https://gleam.io/RJqrq/rwby-fan-server-giveaway-rwby-official-companion" rel="nofollow">RWBY Fan Server Giveaway - Valentine's Day Celebration</a>


</div>

<footer>

</footer>
