.bg{
  height: 1000px;
  width:100%;
  background-image:url('../../assets/pictures/RWBYatAtlas.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro {
  text-align: center;
}

#intro #logo{
  margin-top: 120px;
  border-radius: 50%;
  height: 350px;
  width: auto;
  box-shadow: 0 0 30px 5px #0d1f31;
}

footer {
  height: 100px;
  margin-top: 0px !important;
  background-color: slategray;
}

.cards {
  margin-top: 100px;

}

.content
{
  width: 80%;
  margin: auto;
  background-color: darkslategray;
  color: white;
  opacity: 1;
}

.toolbar button {
  margin: 0 5px;
}

.center {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

.text-img {
  border-radius: 10px !important;
}

h3 {
  overflow: hidden;
  text-align: center;
  margin-top: 2em;
}
h3:before,
h3:after {
  background-color: #fafafa;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
h3:before {
  right: 0.5em;
  margin-left: -50%;
}
h3:after {
  left: 0.5em;
  margin-right: -50%;
}
