<div id="intro" class="bg">
  <!-- Resources -->
  <img
    id="logo"
    width="70"
    alt="Icon"
    src="../assets/gifs/RwbyGifIcon.gif"
  />
  <!--
  <div class="bg">
    <img
      id="cutouts"
      width="100%"
      alt="Cutouts"
      src="../assets/pictures/RWBYatAtlasCutout.png"
    />
  </div>
  -->

</div>

<div class="content fade" role="main">

  <h3>One of the fastest growing RWBY discord servers out there!</h3>
  <div class="container row center">
    <div class="container col-6 text">

      <p>Very active so you always have someone to talk to, as well as the people being very nice. I've already made several friends in this server</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="container col-6 text-img">
      <img
        class="text-img"
        src="../../assets/pictures/YangCool.jpg"
        width="100%"
        height="auto"
        alt="Yang looking hella dope"
      />
    </div>
  </div>
  <h3> User Reviews: </h3>
  <app-testimonials></app-testimonials>

</div>

<footer>

</footer>
