.navbar {
  background-color: darkslategray;
  color: white;
  font-size: large;
}

.navbar img {
  border-radius: 50%;
}

.buttons li {
  margin: 0 7px;
}

.user {
  margin-left: 50px;
  color: rgba(0,0,0,0.5);
}

.user span {
  padding-right: 10px;
}

.user * {
  margin: 0 7px;
}
