<nav class="navbar navbar-expand-lg navbar-dark">

  <a class="navbar-brand" href="#" >
    <img
      width="45"
      alt="Angular Logo"
      src="../../assets/gifs/RwbyGifIcon.gif"
    />
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">RWBY Fan Server</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Server Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Reviews and Testimonials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Announcements</a>
      </li>
    </ul>
  </div>
  <div class="buttons form-inline">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn btn-danger">
          Testimonials
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-dark">
          Submit Suggestions
        </button>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-danger" href="https://discord.gg/MdBKgp2" target="_blank">
          <b>Join the Server!</b>
        </a>
      </li>
    </ul>

    <div class="user d-inline-flex">
      <span class="nav-item">Liz</span>

      <img
        width="45"
        alt="Avatar"
        src="../assets/gifs/LizAvatar.gif"
      />
      <button class="btn btn-outline-danger">
        <i class="fa fa-2x fa-sign-out" aria-hidden="true"></i>
      </button>
    </div>
  </div>


</nav>
