<div class="content">
  <div class="container">
    <h5 class="fancy">VIP Patrons</h5>
    'our satan hanaka <br>
    <br>

    Combat_ready<br>
    <br>

    John.<br>
    <br>

    King Smith<br>
    <br>

    ProfessorHerb<br>
    <br>

    tree<br>
    <br>
  </div>
  <div class="container">
    <h5 class="fancy">Patrons</h5>

    Jaeger<br>
    <br>

    qrow/rebel's my waifu (peachy)<br>
    <br>

    VelvetJay<br>
    <br>
  </div>
  <div class="container">
    <h5 class="fancy">Become a Patron</h5>
    <div class="container description">
      <h6>What will you use the patreon donations for?</h6>
      - Bot server hosting (To provide extra stability for Lizbot!)<br>
      - Website server hosting (A project currently in the works!)<br>
      - Premium Listings on Discord Server List sites (Helps us get new members!)<br>
      - Refreshing Server Boost status if lost (Or boosting us to level 3!)<br>
      - Premium Status for Dyno and Mee6 (Unlocks lots of new features!)<br>
      - Additional/better prizes for giveaways! (and more frequent giveways!)<br>
      - Commissioning art for banners and emojis!<br>
      - and more!<br>
      <br>
      <h6>What do I get for supporting?</h6>
      Members who donate ANY amount of money up to $5 (recurring or one-time) will be given the @⭐️Patron ⭐️ role as a thank you, and will get access to #📝server_suggestions to have an open dialogue with the admins on how to improve the server!<br>
      Members who donate $5 or more monthly will be given the @💎 VIP Patron 💎 as a thank you, get to choose 2 emojis to add to the server, get access to #📝server_suggestions, and you will be placed at the top of the member list for everyone to see how cool you are!<br>
      <br>
      - Standard donations (up to $5) will unlock a 1.5x XP boost for all server members for 6 hours!<br>
      - VIP Donations ($5+) will unlock a 2x XP boost for all server members for 12 hours!<br>
      <br>
      On top of that, @LizBot will announce your generosity to the server when you choose to support us!<br>
      <br>
      <h6>What do I get for supporting?</h6>
      Members who donate ANY amount of money up to $5 (recurring or one-time) will be given the @⭐️Patron ⭐️ role as a thank you, and will get access to #📝server_suggestions to have an open dialogue with the admins on how to improve the server!<br>
      Members who donate $5 or more monthly will be given the @💎 VIP Patron 💎 as a thank you, get to choose 2 emojis to add to the server, get access to #📝server_suggestions, and you will be placed at the top of the member list for everyone to see how cool you are!<br>
      <br>
      - Standard donations (up to $5) will unlock a 1.5x XP boost for all server members for 6 hours!<br>
      - VIP Donations ($5+) will unlock a 2x XP boost for all server members for 12 hours!<br>
      <br>
      On top of that, @LizBot will announce your generosity to the server when you choose to support us!<br>
      <br>
      <h6>What happens if no one supports/I can't support this month?</h6>
      No one will lose anything we don't already have! Everything will stay the same even if we have zero patrons. We will still have Lizbot and continue her development, we will still do occasional giveaways on our dime, we will still have fun events, and so on. We simply won't be able to have the really nice things without a little help. No one will be upset with you if you can't donate, and the only thing you'll lose is your role.<br>
      <br>
      <h6>Do I have to do a recurring payment?</h6>
      Nope! If you just want to give us 3 cents one time, you're more than welcome to do so. You can paypal us directly on <a href="https://www.paypal.me/rwbyfanserver">PayPal</a> ! This actually helps your donation go farther as we don't have to pay the Patreon site fees.<br>
      Be sure to leave your discord username in the notes of the donation so we can give you the @⭐️Patron ⭐️or @💎 VIP Patron 💎 role as a thank you!<br>
      <br>
      <h6>Can I trust you to use the money for the server?</h6>
      All donations will go to a separate paypal account that will be used exclusively for benefitting the server. We are leaving our patrons and monthly donation amount public, and we would be more than happy to disclose our spending if anyone is concerned.<br>
      <br>
      <h6>Additional Note</h6>
      It is actually more beneficial for you to donate directly through Paypal, as Patreon charges almost 20% in fees for us to receive and withdraw your donations for use. If you can, donating straight through this link costs no fees (unless you live internationally) which helps your money go a lot farther:  https://www.paypal.me/rwbyfanserver<br>
      We will still assign you your roles manually each month if you choose to do this, please just make sure you let us know your Discord username!<br>
      <br>
      If you prefer the convenience of automatic charging and and not having to worry about remembering, you absolutely can stay on Patreon! Just be aware that we are not receiving your full donation due to site fees.<br>
      <br>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="col-6">
        <a class="nav-link" href="https://www.paypal.me/rwbyfanserver" target="_blank">
          <div class="btn btn-outline-secondary my-2 my-sm-0">
            Support us on PayPal
          </div>
        </a>
      </div>
      <div class="col-6">
        <a class="nav-link" href="https://www.patreon.com/bePatron?u=27441721" target="_blank">
          <div class="btn btn-outline-secondary my-2 my-sm-0">
            Support us on Patreon
          </div>
        </a>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>
