<div class="content">
  <div class="container">
    <h5 class="fancy">Rule 0: This is a RWBY FAN Server. Not a RWBY hate server.</h5>
    a. While every show has its shortcomings and flaws, this server is dedicated to being fans of the show. If you come here explicity to spout negativity and bash the show and its creators, you are in the wrong server. Criticizing specific areas of the show is more than welcome, if even encouraged, but if you're only here to complain about the show rather than celebrate it, you will be better off elsewhere. This is a server dedicated to maintaining a positive and welcoming community which bonds over our mutual love RWBY. This is not "unpopular hot takes" central, so please don't just post your opinion to incite controversy or agitate other users into disagreeing with you. Even if that is not your intent, if that is the result, please don't.<br>
    <br>
    b. This server is for fans of RWBY or those interested in the show.<br>
    If you're not interested in the show, you should join a general social discord instead. If you show that you are here for any purpose other than being a part of this community (i.e. trolling, spamming, novelty accounts, etc.) you will be removed from the server.<br>
    <br>
    c. The Monty Rule:<br>
    Do not claim you know the show better than its creators. Claiming that you have insider knowledge about his thoughts and plans for a show is not only pretentious but also terribly disrespectful to the friends and family he has left behind.<br>
    <br>
  </div>

  <div class="container">
    <h5 class="fancy">Rule 1: Be kind to others. Avoid drama and controversial topics that could spark arguments, and if you do argue, do it right.</h5>
    a. Be nice to people. Respect others' opinions, and don't pick arguments or debates unless you know the other person wants to participate. You're allowed to be passionate about your opinion, but keep your head on while you do it. Please avoid discussions that are known to start wars throughout history, such as politics, religion, and any other polarizing and divisive topics. Do not instigate drama, do not hold onto drama, do not bring up other drama, do not prolong drama, etc. This is not a drama club. Lastly, don't derail the conversation every time you are proven wrong or don't like the topic.<br>
    <br>
    b. Have basic respect for others. You don't have to like anyone, but you have to accept them if they're not doing anything wrong. This means tolerating others, including (but not limited to): Their favorite character, their gender, their favorite color, their sexuality, their religion, or what they ate for dinner last night. Just don't be a jerk or a bigot and don't rub your personal preferences or opinions in other people's faces.<br>
  </div>

  <div class="container">
     <h5 class="fancy">Rule 2: Avoid explicit content.</h5>
     Basically, don't post anything that Rooster Teeth wouldn't put on RWBY. This includes nudity, excessively sexualized content, excessive gore, or any content that could be disturbing to younger viewers. Overall, keep it PG, and don't post anything you wouldn't show to a kid. Cussing IS ALLOWED as long as you refrain from slurs of any kind or excessively extreme curse words. You will be warned multiple times before any action is taken for those scenarios.<br>
   </div>

  <div class="container">
   <h5 class="fancy">Rule 3: No spoilers for Volume 3+ in the non-spoiler channels</h5>
    You may not talk about anything that would spoil anything from Volume 3 and onwards in the channels marked non-spoiler. These channels include all of the Off-Topic and Fun and Games categories.<br>
    <br>
    In regards to manga or novel content such as After The Fall, you may discuss the contents of the books, but please only do so in the RWBY channels. For future releases of books and novels, please give a grace period of 1 week after release before discussing spoilers. Use spoiler tags for 3 weeks after that, and then once those 4 weeks are over (1 month after release) they may be freely discussed in any RWBY channel.<br>
    <br>
    DO NOT USE SPOILER TAGS TO BAIT, FALSIFY, OR TROLL.<br>
    Improperly marked spoilers will be deleted as they cause stress among moderators and normal users. If you cannot tell what the spoiler tag pertains to, it poses a problem for people who are genuinely trying to avoid spoilers.<br>
    <br>
    To use spoiler tags, use this format: ||I'm spoiling something for you||. Please also inform people of what you're talking about outside of the spoiler tag so that people know what to expect if they click your spoiler.<br>
    A good example of such a message is this:<br>
    "Hey guys, I just finished Episode 10, what did you think about that thing that happened?"<br>
  </div>

  <div class="container">
    <h5 class="fancy">Rule 4: Try to stay on-topic for channels.</h5>
    This really isn't a big deal, just try to stay on topic in the channel you're currently talking in. Don't go off on a tirade about how Billy Joe is the worst character in the history of ever in #👕cosplay. Either an admin or a fellow member will direct you back to the correct channel if you start to drift off.<br>
  </div>

  <div class="container">
   <h5 class="fancy">Rule 5: Do not use this server to advertise.</h5>
   a. Any blatant advertising or abuse of link sharing will be immediately removed and you will be warned. Most links will be okay as long as your intentions are good and not selfish, but if you're worried about it, contact an admin first. Only links that are clearly malicious or with ill intent will be immediately removed.<br>
    <br>
   b. Any links to illicit file sharing websites will be removed with a warning. Do not share places where people may watch any content illegally, or places that allow users to circumvent premium locks on content.<br>
  </div>

  <div class="container">
    <h5 class="fancy">Rule 6: Roleplay is not allowed in this server.</h5>
    This server was not created for the purpose of roleplaying and the people who joined it before this server was public did not join to roleplay. There are other servers better set up to handle, encourage, and facilitate roleplaying, if that is something that interests you, but for the sake of our primary userbase, we do not allow it in this server.<br>
    <br>
  </div>

  <div class="container">
    <h5 class="fancy">Rule 7. Be nice about Ships.</h5>
    This is a ship-friendly server. This means that you may not judge, hate on, or fight over ships here.  That being said, you may not encourage incest or extreme age gaps. Obviously. You may not demand that your personal ship is better than any others, or that only canon ships are valid.<br>
    You may not be a dick about ships.<br>
    If you don't have anything nice to say, don't say anything at all. We will not tolerate people who bash other people's personal preferences for any reason.<br>
  </div>

  <div class="container">
    <h5 class="fancy">Rule 8: Have fun!</h5>
    While the rules may seem a bit intimidating, they're really only for extreme cases. Do whatever you want, try to keep the server nice and clean and approachable, and be cool. You only need to worry about the rules if you're being too rowdy, and even then, I am just one person running the server for now and I'd rather talk to you about what needs to change than instantly permaban you. This server exists to make friends and have mutual interests! If you have read this far into the rules, DM the owner, Liz, with the code word "ravioli" to earn a special reward.<br>
  </div>

  <div class="container">
    <h5 class="fancy">Rule :star:: The Loophole Clause</h5>
    Moderators, Admins, and Owners have full discretion to serve any sort of punishments to any degrees based off what they consider improper behavior that may not conform 100% to any written rules currently written. You may not get away with being an awful person just because your behavior is not explicitly banned in this page. We have full discretion over whether or not you should be a part of this community and participation in this server is not a public right.<br>
    (Do not be worried about this rule unless you are an awful person)<br>
  </div>

</div>
